/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90px;
  padding: 12px 12px 0 12px;
  color: #FF4848;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding: 12px 12px 32px 12px;
  font-weight: bold;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pt-24 {
  padding-top: 24px;
}

.pb-12 {
  padding-bottom: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pr-8 {
  padding-right: 8px;
}

.pa-24 {
  padding: 24px;
}

.pa-32 {
  padding: 24px;
}

.bordered {
  border: 1px solid lightgray;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.border-radius-5 {
  border-radius: 5px;
}

.font-18 {
  font-size: 18px;
}